<div class="container text-center">
    <a [routerLink]='["/album/" + album.id]'>
      <div (mouseenter)="mouseenter()" (mouseleave)="mouseleave()">
        <img [src]="album.image != null ? album.image.uri : 'assets/img/sound-waves.svg'" width="200" height="200" [ngClass]="{'onMouse': isHover}"/>
      </div>
      <div>
        {{album.label}}
      </div>
    </a>
    <button (mouseenter)="mouseenter()" (mouseleave)="mouseleave()" (click)="play()" [ngClass]="{'hideButton': !isHover}" mat-icon-button style="position:relative;bottom:140px;">
      <mat-icon mat-list-icon>play_circle_outline</mat-icon>
    </button>
  </div>