<div class="container py-2">
  <div *ngIf="album" class="row">
    <div class="col-3 text-center">
      <img [src]="album.image!= null ? album.image.uri : 'wave.jpg'" width="200" height="200" />
      <h2>{{album.label}}</h2>
      <h5><a [routerLink]='["/artist/" + album.artistId]'>{{album.artistName}}</a></h5>
      <button class="btn btn-primary" (click)="play()">Play</button>
      <h5 class="pt-1">{{album.releaseDate | date : getPrecision}} * {{album.tracks.length}} {{album.tracks.length < 2 ? "song" : "songs"}}</h5>
    </div>
    <cdk-virtual-scroll-viewport class="col-9" itemSize="50" style="height:80vh">
      <ul class="list-group">
        <li style="padding:unset" *ngFor="let track of album.tracks; let i = index" [attr.data-index]="i" class="list-group-item" [contextMenu]="albumMenu" [contextMenuSubject]="track">
          <app-track-view [track]="track" [index]="i" (playThis)="play($event)"></app-track-view>
        </li>
      </ul>
    </cdk-virtual-scroll-viewport>
  </div>
</div>

<context-menu #albumMenu>
  <ng-template *ngFor="let action of contextMenuActions" contextMenuItem let-item
               [visible]="action.visible" [enabled]="action.enabled" [divider]="action.divider"
               (execute)="action.click($event.item)">
    {{ action.html(item) }}
  </ng-template>
</context-menu>